*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}

#canvas{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 300px;  
}
.button{
    height: 100px;
    width: 100px;
    /* background-color: red; */
    display: f;
}

#grey{
     background-color: grey;
         border: 2px solid black;

}

#white{
    background-color: white;
    border: 2px solid black;
}

#blue{
    background-color: blue;
    border: 2px solid black;
}

#yellow{
    background-color: yellow; 
    border: 2px solid black;

}

#text2{
    padding-top: 10px;
     padding-left: 400px;
}