*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(62, 62, 62);
}

.banner{
    color: white;
    padding: 10px
}

.center{
position: relative;
top: 290px;
    align-items: center;
    /* background-color: red; */
    height: 400px;
    width: 250px;
}

#clock{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    /* text-decoration: solid; */
}