*{
    margin: 0;
    padding: 0;
}

body{
     height: 100vh;
 position: relative;   

}

.container{
    position: relative;
  align-items: center;
  top: 250px;   
}

.container h1,p,button,div{
    padding: 5px;
}

.container h1{
 color: red;
}